main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url(../images/imgbackgroundnouvellepartie.png) no-repeat center/cover;
    text-align: center;
}

.menuchoix {
    display: flex;
    flex-direction: column;
}

.menuchoix li {
    margin-bottom: 3rem;
}

.menuchoix a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    list-style-type: none;
    border: 1px solid white;
    box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
    text-transform: uppercase;
    color: var(--button-text-color);
    font-family: 'Roboto', sans-serif;
    animation: pulse 1.5s infinite;

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 white;
    }

    5% {
        transform: scale(1.01);
    }

    15% {
        transform: scale(1);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(168, 63, 57, 0);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(168, 63, 57, 0);
    }
}