@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root {
    --title-text-color:white;
    --button-color:#4608cb;
    --button-text-color: white;
}
html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}